<h2 class="title">Listado de libros</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Autor</th>
            <!--<th>Prestado a</th> -->
            <th>Género</th>

            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let item of libros">
            <td>{{item.name}}</td>
            <td>{{item.author}}</td>
            <!--<td>{{item.lended}}</td> -->
            <td>{{item.gender}}</td>
            

        </tr>
    </tbody>
</table>